.gallery-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
  justify-content: center;
  align-items: center;
}
.gallery-image {
  width: 400px;
  height: 300px;
  margin: 10px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 450px) {
  .gallery-container {
    padding: 0;
  }
}
