@font-face {
  font-family: 'Super-Effective';
  src: url('/custom-fonts/super-effective/super_effective.ttf')
    format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Bitstream-Vera-Sans-Mono';
  src: url('/custom-fonts/Bitstream-Vera-Sans-Mono/VeraMono-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Bitstream-Vera-Sans-Mono', Consolas, Courier, monospace;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.page-container {
  min-height: 550px;
  position: relative;
  padding-bottom: 170px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

strong,
a {
  color: #ff3c77;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
